.ticket--cabinet{
    width: 80%;
    max-width: 520px;
}

.cabinet-info{
    display: flex;
    justify-content: space-between;
}

.cabinet-info__block{
    text-align: start;
}

.cabinet-info__btn-group{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    flex-wrap: wrap;
}

.cabinet__log-out{
    margin-top: 20px;
}

.cabinet-info__text{
    color: #6c757d ;
}
.btnAdmin{
    width: 180px;
    height: 60px;
    margin: 10px;
    border-radius: 2ch;
    background-color: #007bff;
    border-color:#007bff;
    color:white;
    font-size: 15px;
}

.btnAdminLogOut{
    width: 80px;
    height: 40px;
    margin-left: 420px;
    border-width:thin;
    border-radius: 1ch;
    background-color: #007bff;
    border-color:#007bff;
    color:white;
    font-size: 15px;
}