.btn {
  padding: 10px 50px 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  font-size: 16px;
}

.btn-primary {
  border: 0;
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: rgb(0, 101, 209);
}

.btn-primary:active {
  outline: 2px solid #007bff;
  background-color: rgba(0, 101, 209, 0.7);
}

.btn-secondary {
  color: rgb(136, 136, 136);
}

.btn-secondary:hover {
  background-color: rgb(221, 221, 221);
  color: rgb(41, 41, 41);
}

.btn-secondary:active{
    background-color: rgb(180, 180, 180);
    outline: 2px solid gray;
}
