.ticket--cityList{
    width: 80%;
}
.city-list-back{
    text-align: end;
}

.city-list-fields{
    display: flex;
    justify-content: space-between;
}

.city-list_select{
    width: 100%;
}

.carousel{
    display: flex;
}

.carousel-btn{
    width: 75px;
    height: 75px;
    border: none;
    background-color: transparent;
}

.carousel-btn--left{
    background-repeat: no-repeat;
    background-image: url('../../assets/arrow.png');
    background-size: contain;
}

.carousel-btn--right{
    background-repeat: no-repeat;
    background-image: url('../../assets/arrow.png');
    background-size: contain;
    transform: rotate(180deg);
}

.city-list_btns{
    display: flex;
}