.ticket--cab{
    width: 700px;
    max-width: 720px;
}

.cabinet-info{
    display: flex;
    justify-content: space-between;
}

.cabinet-info__block{
    text-align: start;
}

.cabinet-info__btn-group{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.cabinet__log-out{
    margin-top: 20px;
}

.cabinet-info__text{
    color: #6c757d ;
}